.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.list p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.list-table {
    width: 95%;
    max-width: 1200px;
    border-collapse: collapse;
    margin:0 auto;
}
.list-table-format{
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 1fr;
    align-items: center;
    gap:10px;
    padding:12px 15px;
    border: 1px solid #cacaca;
    font-size:13px;
    cursor:pointer;
}

.list-table-format p{
    font-size:17px;
}
.list-table-format.title{
    background-color: #f9f9f9;
}

.list-table-format img{
    width:50px;
}

@media(max-width:600px){
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap:15px;
    }
    .list-table-format.title{
        display: none;
    }
}