.Image-Panel {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 20px;
}

.Image-detail {
    width: 90%;
    height: 70px;
    margin-left: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Image-detail .page-title {
    width: 30%;
}

.Image-detail .page-title p {
    font-size: 45px;
}

.button {
    width: 40%;
    height: 80%;
    display: flex;
}

.back-button {
    width: 50px;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.back-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.back-button:active {
    background-color: #f0f0f0;
    transform: scale(0.7);
}

.del-btn {
    justify-content: flex-end;
}

.delete-button {
    width: 100px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    background: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.delete-button:active {
    background-color: white;
    color: red;
    transform: scale(0.7);
}

.delete-button:hover {
    background-color: white;
    color: red;
}

.Image-table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    font-size: 13px;
}

.Image-block,
.Image-info {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image-block {
    position: relative;
    overflow: hidden;
}

.zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.zoom-container img {
    max-width: 60%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    transform-origin: var(--x, 50%) var(--y, 50%);
}

.zoom-container:hover img {
    transform: scale(1.5);
}

.Image-info {
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.Image-title-info,
.Image-description-info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.Image-title-info p,
.Image-description-info p {
    font-size: 25px;
    font-weight: 300;
}
